ul div {
  display: inline-block;
  margin: 2%;
  align-items: center;
}
nav {
  text-align: center;
  background-color: #61dafb;
}

.my-component {
  background-color: #438802;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.myDiv {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  background-color: aqua;
}

.picture {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 51, 102, 255);
}

.App-header {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
